<section class="text-white md:space-y-14">
    <div class="py-8">
        <h1 class="font-extrabold text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl leading-tight">A
            little about me</h1>
        <p class="text-base text-gray-300 sm:text-lg md:text-xl lg:text-2xl leading-relaxed">Who i am and what i do</p>
    </div>
    <div class="flex flex-col md:flex-row justify-between items-start gap-6 md:gap-12 py-8">
        <div class="w-full md:w-2/5 md:order-2 flex flex-col justify-center space-y-10">
            <div
                class="border border-gray-600 rounded-md p-5">
                <img class="w-48 sm:w-56 md:w-64 lg:w-72 xl:w-80 rounded-md" src="./images/IMG_20250623_191111_0505.jpg"
                    alt="Sarah Elhefnawy">
            </div>
            <button routerLink="/contact" type="button"
                class="cursor-pointer bg-gradient-to-r from-indigo-600 to-purple-600 hover:from-indigo-800 hover:to-purple-700 shadow-lg hover:shadow-indigo-800/50 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-xl text-sm px-8 py-3.5 text-center inline-flex items-center justify-center transition-all duration-300 transform hover:scale-105 w-full sm:w-auto">
                Get in touch
                <i class="fa-solid fa-arrow-right ms-3"></i>
            </button>
        </div>

        <div class="w-full md:w-3/5 space-y-4 md:space-y-6">
            <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold">WHO I AM</h2>
            <p class="text-gray-500 leading-relaxed mb-6">I'm Sarah Yasser Elhefnawy, an enthusiastic and
                detail-oriented Frontend Developer based in Egypt , with a strong foundation in modern web technologies
                and a passion for building seamless, user-centric applications.</p>

            <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold">WHAT I DO</h2>
            <p class="text-gray-500 leading-relaxed mb-6">I recently honed my skills through an intensive Full Stack Web
                Development Diploma at Route, where I specialized in building dynamic, responsive applications using
                Angular, TypeScript, and modern CSS. I thrive on turning complex problems into elegant solutions,
                whether it's developing a full-featured E-Commerce SPA with shopping cart and authentication or
                implementing reactive state management with Signals in a movie discovery app. My projects demonstrate my
                ability to bring Figma designs to life with clean, maintainable code and integrate seamlessly with REST
                APIs.</p>

            <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold">MY FOUNDATION</h2>
            <p class="text-gray-500 leading-relaxed mb-6">My journey into tech is built on a solid academic background
                in Business Information Systems, which gave me a unique perspective on how technology solves real-world
                business problems. This, combined with my hands-on training, allows me to think not just about how to
                build a feature, but why it matters to the end-user. I am now eager to bring this blend of technical
                skill and user-focused thinking to a collaborative team where I can contribute, learn, and grow as a
                professional.</p>

            <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold">LET'S CONNECT</h2>
            <p class="text-gray-500 leading-relaxed mb-6">Feel free to reach out via <a class="text-blue-500 underline"
                    href="mailto:sarahelhefnawy0@gmail.com" target="_blank">email</a> or connect with
                me on <a class="text-blue-500 underline" href="https://www.linkedin.com/in/sarah-elhefnawy/"
                    target="_blank">LinkedIn</a>. You can
                explore my projects on <a class="text-blue-500 underline" href="https://github.com/Sarah-Elhefnawy"
                    target="_blank">GitHub</a>, or check
                out my <a class="text-blue-500 underline"
                    href="https://drive.google.com/drive/folders/1xcxpwHWPYTaoDqGUSuzzPV1miNbXT56U?usp=sharing"
                    target="_blank">Resume</a> for more details on my experience and skills.
            </p>

            <p class="text-gray-500 leading-relaxed mb-6">Let's build something great,</p>
            <img class="w-48 sm:w-56 md:w-64 lg:w-72 xl:w-80 -skew-12" src="./images/signature.png">
        </div>
    </div>
</section>